/* code by webdevtrick ( https://webdevtrick.com ) */
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.firstimg,
.secondimg,
.thirdimg,
.forthimg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.firstimg {
  background-image: url(https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg);
  min-height: 100%;
}

.secondimg {
  background-image: url(https://images.pexels.com/photos/1342460/pexels-photo-1342460.jpeg);
  min-height: 400px;
}

.thirdimg {
  background-image: url(https://images.pexels.com/photos/34580/pexels-photo.jpg);
  min-height: 400px;
}

.forthimg {
  background-image: url(https://images.pexels.com/photos/248515/pexels-photo-248515.png);
  min-height: 100%;
}

.section {
  text-align: center;
  padding: 50px 80px;
}


.section-dark {
  background-color: black;
  color: #ddd;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

@media (max-width: 568px) {
  .firstimg,
  .secondimg,
  .thirdimg,
  .forthimg {
    background-attachment: scroll;
  }
}
a {
  text-decoration: none;
	color: white;
}
