/* lg */
@media (min-width: 1200px) {
  .carousel .carousel-item > img {
    width: 100%;
  }
  .carousel-fade .carousel-inner .carousel-item {
    height: auto;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel .carousel-item > img {
    width: 100%;
  }
  .carousel-fade .carousel-inner .carousel-item {
    height: auto;
  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-fade .carousel-inner .carousel-item {
    height: auto;
  }
}

/* xs */
@media (max-width: 767px) {

  .carousel-control-prev, .carousel-control-next {
    font-size: 20px;
    height: 30px;
    line-height: 25px;
    width: 30px !important;
  }

  .carousel-fade .carousel-inner .carousel-item {
    height: auto;
  }

  #home-slider:hover .carousel-control-next {
    right: 15px;
  }

  #home-slider:hover .carousel-control-prev {
    left: 15px;
  }

}

/* XS Portrait */
@media (max-width: 479px) {

}
