body {
  padding-top: 80px;
  background-image: linear-gradient(360deg, black, white);
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.logo{
	width: 200px;
	height: 74px;
}

.navbar{
  padding: 0rem !important;
}

#myBtn.show {
  bottom: 20px;
}

#myBtn {
  width: 40px;
  height: 45px;
  position: fixed;
  bottom: -100px;
  right: 20px;
  z-index: 100;
  text-align: center;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  padding: 10px;
	border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

#myBtn:hover {
	background-color: #555;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
}

/* Footer Social Icons*/

.ft ul {
	margin : 0;
	padding : 0;
	text-align : center;
}
.ft ul li {
	list-style : none outside none;
	padding-right : 10px;
	display : inline;
}
.ft ul li a {
	border : #818181 solid 1px;
	border-radius : 50%;
	display : inline-block;
	margin : 0 auto;
	padding : 7px 11px;
	text-align : center;
}
.ft ul li a i {
	color : white;
	/*font-size : 15px;*/
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
}
.ft ul li a i:hover {
	color : #00AFF0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
}

/* Carousel Styles*/

#carouselimages {
	overflow: hidden;
	position: relative;
}

/* .carousel-inner{
	text-align: center;
}

.carousel .carousel-item > img {
  display: inline-block;
} */

.carousel-fade .carousel-inner .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.carousel-fade .carousel-inner .carousel-item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.3);
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50% !important;
  height: 51px;
  width: 51px !important;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease !important;
}

.carousel-control-prev, .carousel-control-next a{
	color: #00AFF0;
}

.carousel-control-prev {
  left: -51px !important;
}

.carousel-control-next {
  right: -51px !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	color: #fff;
	background-color:#028fcc;
}

#carouselimages:hover .carousel-control-prev {
	left:30px !important;
}

#carouselimages:hover .carousel-control-next {
	right:30px !important;
}

.carousel-indicators li{
	border-radius: 50%;
	width: 15px !important;
	height: 15px !important;
}
